<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Primary Meta Tags -->
    <title>Lennon Murphy — Manager, Short Order Cook, Supervisor</title>
    <meta name="title" content="Lennon Murphy — Manager, Short Order Cook, Supervisor">
    <meta name="description" content="A veteran in the restaurant industry, Lennon has a team management edge, with a knack for adapting to any cuisine and environment. Now he's looking for his next adventure in the professional world.">
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://lennonmurphy.net/">
    <meta property="og:title" content="Lennon Murphy — Manager, Short Order Cook, Supervisor">
    <meta property="og:description" content="A veteran in the restaurant industry, Lennon has a team management edge, with a knack for adapting to any cuisine and environment. He's looking for his next adventure in the professional world.">
    <meta property="og:image" content="/img/og-image.jpg">
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://lennonmurphy.net/">
    <meta property="twitter:title" content="Lennon Murphy — Manager, Short Order Cook, Supervisor">
    <meta property="twitter:description" content="A veteran in the restaurant industry, Lennon has a team management edge, with a knack for adapting to any cuisine and environment. Now he's looking for his next adventure in the professional world.">
    <meta property="twitter:image" content="/img/og-image.jpg">
    
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body class="antialiased font-sans-serif">
    <main class="container mx-auto p-4 sm:p-8 max-w-4xl">
      {% block main %}{% endblock %}
    </main>

    <script src="./js/scripts.js"></script>
  </body>
</html>
