//
// Variables
//

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=PT+Serif:wght@400;700&display=swap");

:root {
  --base-font-family: "Open Sans", sans-serif;
  --base-font-family-serif: "PT Serif", serif;
  --base-font-size: 1.25rem;
  --base-line-height: 1.5;
  --base-font-weight: 400;

  --title-font-weight: 500;
  --title-line-height: 1.1;
}
